body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#container {
  max-width: 800px; /* Increased width */
  height: 550px; /* Increased height */
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto; /* Added overflow for vertical scrolling if needed */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

#todo-list {
  padding: 20px;
  width: 95%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  padding: 8px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:last-child {
  background-color: #2196F3;
}

button:last-child:hover {
  background-color: #0b7dda;
}
